<h1 style="text-align: center;">Desafío - Introducción al ambiente de trabajo</h1>

- Para realizar este desafío debes haber estudiado previamente todo el material disponible correspondiente a la unidad.
- Una vez terminado el desafío, comprime la carpeta que contiene el desarrollo de los requerimientos solicitados y sube el .zip en el LMS.
- Desarrollo del desafío: individual
- Para la realización del desafío necesitarás apoyarte del archivo `Apoyo Desafío - Introducción al ambiente de trabajo.zip`, disponible en la <a href="https://empieza.desafiolatam.com/cohorts/2091/sections/78263/activities/119091/items/610763">plataforma</a>.

## Habilidades a evaluar
- Utilizar el método print para comenzar a programar en Python.
- Ingresar variables para utilizarlas posteriormente e imprimirlas.
- Corregir errores posterior a su identificación dentro de los códigos dados.

## Descripción
Una empresa dedicada al mundo de la programación se encuentra buscando perfiles junior que trabajen con Data Analytics en Python. Para ello, publican un anuncio en un conocido
portal de búsqueda de trabajo TI en el cual tu te encuentras inscrito. Una vez llenada la postulación, la página te redirige al sitio web de la empresa donde se le solicita a cada candidato/a que desarrolle acciones básicas de programación para comprobar sus habilidades. Solo quienes desarrollen exitosamente los requerimientos podrán pasar a la siguiente etapa de selección.

## Requerimientos
A continuación revisaremos los requerimientos y acciones que la empresa a la cual postulas te pide realizar.

### 1. Hola Mundo (1 pto): 

Utilice la función `print` para mostrar en pantalla la siguiente línea:

`Hola Mundo, esta es mi primera incursión en Python`

In [1]:
# Utiliza esta celda para desarrollar el primer requerimiento
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

### 2. Ingreso de variables (2 ptos):

Ingrese una serie de datos respecto a su información personal. Esta información debe estar ingresada en variables para su posterior uso. Ingrese los siguientes datos:
- Su nombre.
- Edad.
- Una lista con sus 3 actividades favoritas.
- ¿Tiene mascotas?

In [1]:
# Utiliza esta celda para desarrollar el segundo requerimiento
nombre = "Oscar Aguilera"
edad = 35
actividades_favoritas = ["Tocar guitarra", "Cantar", "Programar"]
mascota = True

### 3. Imprimir variables (2 ptos):
- Muestre cada variable creada: acceda al segundo elemento de su lista.
- Pida los tipos de datos asociados.
- Interpole los datos usando la función print para generar una presentación sobre usted.

In [2]:
# Utiliza esta celda para mostrar las variables solicitadas
nombre , edad, actividades_favoritas, mascota

('Oscar Aguilera', 35, ['Tocar guitarra', 'Cantar', 'Programar'], True)

In [3]:
# Utiliza esta celda para pedir los tipos de datos asociados
type(nombre), type(edad), type(actividades_favoritas[1]), type(mascota)

(str, int, list, bool)

In [5]:
# Utiliza esta celda para realizar tu presentación personal
print(
    f'Hola, mi nombre es {nombre}, tengo {edad} años. Mis actividades favoritas son {actividades_favoritas} y {"tengo mascotas" if mascota else "no tengo mascotas"}'
)

Hola, mi nombre es Oscar Aguilera, tengo 35 años. Mis actividades favoritas son ['Tocar guitarra', 'Cantar', 'Programar'] y tengo mascotas

### 4. Identificar códigos erróneos (2 ptos): 
A continuación se presenta una serie de códigos que generan errores. Corríjalos y comente cuáles fueron las fallas.

In [10]:
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

<!-- Escribe en esta celda la razón del error de la ejecución anterior. Puedes borrar este comentario (comentario de HTML, no se visualiza en la renderización)-->

 El error ocurre porque falta una comilla al final del string para cerrarlo.

In [7]:
print('Mi nombre es', nombre, 'y tengo' ,edad, 'años')

Mi nombre es Oscar Aguilera y tengo 35 años

<!-- Escribe en esta celda la razón del error de la ejecución anterior. -->
El error se producía porque 1: la variable estaba definida con otro nombre y 2: faltaban comas para separar cada elemento del print. También se podía solucionar interpolando con f'{}'

In [ ]:
import pandas as pd
import numpy as np

<!-- Escribe en esta celda la razón del error de la ejecución anterior. -->
Este es un error lógico respecto a las convenciones en los alias, pandas tiene como alias pd y numpy como np

In [8]:
"Ornitorrinco" + str(45)

'Ornitorrinco45'

<!-- Escribe en esta celda la razón del error de la ejecución anterior. -->
La operación suma no se puede realizar entre un entero y un strig. Se soluciona convirtiendo el número a tipo str()

### 5. Utilizar pandas y numpy (3 ptos):
Para ello, sigue los siguientes pasos.
- A. Importa `pandas` y `numpy`.

In [11]:
# Utiliza esta celda para responder el punto A
import pandas as pd
import numpy as np

- B. Posteriormente importa el archivo flights.csv

In [17]:
# Utiliza esta celda para responder el punto B
df = pd.read_csv('flights.csv')
df.columns

Index(['year', 'month', 'passengers'], dtype='object')

- C. Solicita las primeras y últimas 5 observaciones de la tabla de datos.

In [14]:
# Utiliza esta celda para responder el punto C, primeras 5
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [15]:
# Utiliza esta celda para responder el punto C, últimas 5
df.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

- D. Utiliza describe para obtener las medidas univariadas de la columna `year`

In [16]:
# Utiliza esta celda para responder el punto D
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

- E. Utiliza `value_counts` para obtener la frecuencia de meses y años de la tabla.

In [18]:
# Utiliza esta celda para responder el punto E. Frecuencia de meses
df['month'].value_counts()

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

In [19]:
# Utiliza esta celda para responder el punto E. Frecuencia de años
df['year'].value_counts()

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

- F. Guarda en variables las primeras y últimas 15 observaciones de la tabla.

In [20]:
# Utiliza esta celda para responder el punto F
primeras_quince = df.head(15)
ultimas_quince = df.tail(15)

- G. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros utilizando las funciones de numpy. Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados

In [22]:
# Utiliza esta celda para obteer media, mediana y desviación estándar de la cantidad de pasajeros utilizando numpy
np.mean(df['passengers']),np.median(df['passengers']),np.std(df['passengers']),np.sum(df['passengers'])

(280.2986111111111, 265.5, 119.54904153277148, 40363)

In [25]:
# Utiliza esta celda para repetir el procedimiento para las últimas 15 observaciones
np.mean(ultimas_quince['passengers']),np.median(ultimas_quince['passengers']),np.std(ultimas_quince['passengers']),np.sum(ultimas_quince['passengers'])

(459.2, 432.0, 75.29426715671431, 6888)

In [26]:
# Utiliza esta celda para repetir el procedimiento para las primeras 15 observaciones
np.mean(primeras_quince['passengers']),np.median(primeras_quince['passengers']),np.std(primeras_quince['passengers']),np.sum(primeras_quince['passengers'])

(126.8, 126.0, 12.681745410891462, 1902)

<!-- Utiliza esta celda para comentar tus resultados -->
La cantidad de pasajeros ha ido aumentando con los años y es más disperso el uso de los vuelos.